name: Build only linux wheels (for debug)
on:
  workflow_dispatch:
jobs:
  pybind11_stubgen:
    name: Build pybind11 stubgen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install pybind11_stubgen
        run: python -m pip install pybind11_stubgen

      - name: Build project
        run: |
          mkdir build
          cd build
          cmake -DBUILD_PYTHON_BINDINGS=ON ..
          make

      - name: generate stubgen
        working-directory: build
        run: |
          pybind11-stubgen _mathInterval
          mv stubs/_mathInterval.pyi stubs/mathInterval.pyi
        env:
          PYTHONPATH: $PYTHONPATH:.

      - name: Upload stubs (GitHub Artifacts)
        uses: actions/upload-artifact@v4
        with:
          name: mathInterval.pyi
          path: build/stubs/mathInterval.pyi

  build_wheels:
    needs: pybind11_stubgen
    name: build_wheels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: load stubgen file
        uses: actions/download-artifact@v4
        with:
          name: mathInterval.pyi

      - name: setup stubgen file
        run: mv mathInterval.pyi src/mathInterval.pyi

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.1.4

      - name: Build wheels
        run: |
          echo "Building wheels"
          python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: "*manylinux*"
          CIBW_BUILD_VERBOSITY: 1

      - name: Upload wheels (GitHub Artifacts)
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: wheelhouse/*.whl
