name: Build wheels

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [published]    # при публикации релиза

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: install pytest
        run: python -m pip install pytest

      - name: Build project
        run: |
          mkdir build
          cd build
          cmake -DTESTING=ON -DBUILD_PYTHON_BINDINGS=ON ..
          make

      - name: Testing
        id: test
        continue-on-error: true
        working-directory: build
        run: ctest --output-junit junit-report.xml

      - name: Fail job if tests failed
        if: steps.test.outcome != 'success'
        run: exit 1

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: build/junit-report.xml

  pybind11_stubgen:
    name: Build pybind11 stubgen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install pybind11_stubgen
        run: python -m pip install pybind11_stubgen

      - name: Build project
        run: |
          mkdir build
          cd build
          cmake -DBUILD_PYTHON_BINDINGS=ON ..
          make

      - name: generate stubgen
        working-directory: build
        run: |
          pybind11-stubgen _mathInterval
          cp build/stubs/_mathInterval/__init__.pyi build/stubs/_mathInterval/_mathInterval.pyi
        env:
          PYTHONPATH: $PYTHONPATH:.

      - name: Upload stubs (GitHub Artifacts)
        uses: actions/upload-artifact@v4
        with:
          name: stubs
          path: build/stubs/_mathInterval/*.pyi

  build_wheels:
    needs: pybind11_stubgen
    name: Build ${{ matrix.os }} ${{ matrix.cibw_archs }} wheels
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # ---- Linux ----
          - os: ubuntu-latest
            cibw_archs: x86_64
            cibw_env: CIBW_ARCHS_LINUX
          - os: ubuntu-latest
            cibw_archs: aarch64    # ARM64 через QEMU
            cibw_env: CIBW_ARCHS_LINUX

          # ---- macOS ----
          - os: macos-latest
            cibw_archs: x86_64
            cibw_env: CIBW_ARCHS_MACOS
          - os: macos-latest
            cibw_archs: arm64
            cibw_env: CIBW_ARCHS_MACOS

          # ---- Windows ----
          - os: windows-latest
            cibw_archs: AMD64
            cibw_env: CIBW_ARCHS_WINDOWS
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: load stubgen files
        uses: actions/download-artifact@v4
        with:
          name: stubs

      - name: setup stubgen files
        run: mv *.pyi src/

      - name: Set up QEMU
        if: matrix.cibw_archs == 'aarch64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.1.4

      - name: Build wheels
        run: |
          echo "Building wheels for ${{ matrix.os }} arch=${{ matrix.cibw_archs }}"
          python -m cibuildwheel --output-dir wheelhouse
        env:
          ${{ matrix.cibw_env }}: ${{ matrix.cibw_archs }}
          CIBW_BUILD_VERBOSITY: 1

      - name: Upload wheels (GitHub Artifacts)
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl
